{% extends 'base.html' %}

{% block title %}
	SGI / Listar Reclamos
{% endblock%}

{% block contenido %}
<link rel="stylesheet" href="{{STATIC_URL}}css/tabla.css">


<div class="jumbotron">
    <p>
    	<h2>REPORTE DE RECLAMOS</h2>
    </p>
</div>



			<div id="divTabla">
				<label for="txtBuscar">Buscar: </label>
				<input type="search" id="txtBuscar"  class="input-xxlarge" autofocus
				placeholder="Inregese lo que que desee buscar en la tabla">
				
				<table border="1" id="tblTabla" >
					<thead>
						<tr>
					          <th>Cliente</th>
					          <th>Fecha</th>
					          <th>Ver Detalle</th> 
						</tr>
					</thead>
					<tbody>
						 {% for usuario in usuarios %}
						        <tr>
						          <td>{{usuario.cliente.nombre}}</td>
						          <td>{{usuario.fecha}}</td>
									<td class="center" style="text-align:center;">
						            <a class="btn btn-warning " href="/cliente/listar/{{usuario.id}}">
						              <i class="icon-align-justify icon-white"></i>
						            </a>  
						          </td>	
								</tr>
						      {% endfor %}
					</tbody>
				</table>
			</div>


 <script src="http://www.lewebmonster.com/ejemplos/buscar-en-tablas-jquery/js/ext/jquery-1.8.2.min.js"></script>

<script src="{{STATIC_URL}}js/buscar.js"></script>
{% endblock %}