{% extends 'base.html' %}

{% block title %}
	SGI / Registrar Conductor
{% endblock%}

{% block contenido %}

<div class="jumbotron">
    <p>
    	<h2>REGISTRAR CONDUCTOR</h2>
    </p>
</div>
<form action="" method="POST">
{% csrf_token %}
<div class="row-fluid">
        <div class="span4">
          <p>Nombres Completos</p>
        </div>
        <div class="span7">
        	<input type="text" name="nombre" placeholder="Ingrese Nombre" class="input-xlarge">
        	{{ formulario.nombre.errors }}
       </div>
</div>
<div class="row-fluid">
        <div class="span4">
          <p>Dirección</p>
        </div>
        <div class="span7">
        	<input type="text" name="direccion" placeholder="Ingrese Direccion" class="input-xlarge">
        	{{ formulario.direccion.errors }}
       </div>
</div>
<div class="row-fluid">
        <div class="span4">
          <p>Dni</p>
        </div>
        <div class="span7">
        	<input type="text" name="dni" placeholder="Ingrese Dni" class="input-xlarge">
       		{{ formulario.dni.errors }}
       </div>
</div>

<div class="row-fluid">
        <div class="span4">
          <p>Ruc</p>
        </div>
        <div class="span7">
        	<input type="text" name="ruc" placeholder="Ingrese RUC" class="input-xlarge">
       		{{ formulario.ruc.errors }}
       </div>
</div>
<button type="submit" class="btn btn-primary">Registrar</button>



</form>

{% endblock %}